<a href="https://colab.research.google.com/github/gabrieleite/Ciencia_de_Dados_Aula3/blob/main/Panda_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Estatísticas com Panda


*   Média
* Mediana
* Moda 
* Desvio Padrão (Std)

In [ ]:
import pandas as pd

In [ ]:
corona = pd.read_csv('http://emsapi.esy.es/datasets/covid_19_data.csv', index_col=0)

In [ ]:
#Inspeção do DataFrame
corona.head()

,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
SNo,,,,,,,
1,01/22/2020,Anhui,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
2,01/22/2020,Beijing,Mainland China,1/22/2020 17:00,14.0,0.0,0.0
3,01/22/2020,Chongqing,Mainland China,1/22/2020 17:00,6.0,0.0,0.0
4,01/22/2020,Fujian,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
5,01/22/2020,Gansu,Mainland China,1/22/2020 17:00,0.0,0.0,0.0

In [ ]:
corona.shape

(98252, 7)

In [ ]:
corona.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 98252 entries, 1 to 98252
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ObservationDate  98252 non-null  object
 1   Province/State   67099 non-null  object
 2   Country/Region   98252 non-null  object
 3   Last Update      98252 non-null  object
 4   Confirmed        98252 non-null  float64
 5   Deaths           98252 non-null  float64
 6   Recovered        98252 non-null  float64
dtypes: float64(3), object(4)
memory usage: 6.0+ MB

In [ ]:
#Estatísticas básicas com pandas
corona.describe()

           Confirmed        Deaths     Recovered
count   98252.000000  98252.000000  9.825200e+04
mean    15442.707232    692.502310  8.392821e+03
std     46813.313272   2712.094164  4.751247e+04
min         0.000000      0.000000  0.000000e+00
25%       181.000000      2.000000  2.000000e+00
50%      1622.000000     31.000000  2.870000e+02
75%      8301.250000    264.000000  2.850000e+03
max    801422.000000  42072.000000  2.140614e+06

In [ ]:
# Métodos do Pandas
print('Média mean()', corona['Confirmed'].mean())
print('Soma sum()', corona['Confirmed'].sum())
print('Mediana median()', corona['Confirmed'].median())
print('Moda mode()', corona['Confirmed'].mode())
print('Desvio Padrão std()', corona['Confirmed'].std())
print('Mínimo min()', corona['Confirmed'].min())
print('Máximo max()', corona['Confirmed'].max())

Média mean() 15442.70723242275
Soma sum() 1517276871.0
Mediana median() 1622.0
Moda mode() 0    1.0
dtype: float64
Desvio Padrão std() 46813.31327228468
Mínimo min() 0.0
Máximo max() 801422.0

In [ ]:
# Agregando uma coluna de resultados
corona['Confirmed + Deaths'] = corona['Confirmed'] + corona['Deaths']

In [ ]:
# Elaborar uma algoritmo que mostre as estatísticas das colunas de um DataFrame
colunas = ['Confirmed', 'Deaths', 'Recovered', 'Confirmed + Deaths']

# Percorrer todas as colunas do DataFrame 
for coluna in colunas:
  print('Coluna: ', coluna)
  print('Média mean()', corona[coluna].mean())
  print('Soma sum()', corona[coluna].sum())
  print('Mediana median()', corona[coluna].median())
  #print('Moda mode()', corona[coluna].mode())
  print('Desvio Padrão std()', corona[coluna].std())
  print('Mínimo min()', corona[coluna].min())
  print('Máximo max()', corona[coluna].max())
  print('\n')

Coluna:  Confirmed
Média mean() 15442.70723242275
Soma sum() 1517276871.0
Mediana median() 1622.0
Desvio Padrão std() 46813.31327228468
Mínimo min() 0.0
Máximo max() 801422.0


Coluna:  Deaths
Média mean() 692.5023103855392
Soma sum() 68039737.0
Mediana median() 31.0
Desvio Padrão std() 2712.094163680288
Mínimo min() 0.0
Máximo max() 42072.0


Coluna:  Recovered
Média mean() 8392.821418393518
Soma sum() 824611490.0
Mediana median() 287.0
Desvio Padrão std() 47512.47468727016
Mínimo min() 0.0
Máximo max() 2140614.0


Coluna:  Confirmed + Deaths
Média mean() 16135.209542808288
Soma sum() 1585316608.0
Mediana median() 1669.0
Desvio Padrão std() 48834.43465482634
Mínimo min() 0.0
Máximo max() 831366.0

In [ ]:
colunas = (corona.select_dtypes(include=['float64']))

for coluna in colunas:
  print('Coluna:', coluna)
  print('\tMédia mean()', corona[coluna].mean())
  print('\tSoma sum()', corona[coluna].sum())
  print('\tMediana median()', corona[coluna].median())
  print('\tDesvio Padrão std()', corona[coluna].std())
  print('\tMínimo min()', corona[coluna].min())
  print('\tMáximo max()', corona[coluna].max())
  print()

Coluna: Confirmed
	Média mean() 15442.70723242275
	Soma sum() 1517276871.0
	Mediana median() 1622.0
	Desvio Padrão std() 46813.31327228468
	Mínimo min() 0.0
	Máximo max() 801422.0

Coluna: Deaths
	Média mean() 692.5023103855392
	Soma sum() 68039737.0
	Mediana median() 31.0
	Desvio Padrão std() 2712.094163680288
	Mínimo min() 0.0
	Máximo max() 42072.0

Coluna: Recovered
	Média mean() 8392.821418393518
	Soma sum() 824611490.0
	Mediana median() 287.0
	Desvio Padrão std() 47512.47468727016
	Mínimo min() 0.0
	Máximo max() 2140614.0

# Criando Funções


```
def nome(parametros):
  instruções...
```

In [ ]:
# Função somar ()
def somar(num1, num2):
  return(num1+num2)

# Função multiplicar()
def multiplicar(num1, num2):
  return(num1 * num2)

# Função soma_multiplica(num1, num2)
# Esta função deve retornar dois resultados separados: soma e multiplicação
def soma_multiplica(num1, num2):
  return (num1+num2), (num1*num2)

In [ ]:
soma_multiplica(2, 3)

(5, 6)

In [ ]:
#Armazenando resultados de funções compostas (retorno multiplo)
soma, multiplicacao = soma_multiplica(2, 3)

In [ ]:
print(soma)
print(multiplicacao)

5
6

In [ ]:
# Podemos armazenar apenas um resultado da resposta
soma = 0
multiplicacao = 0

_, multiplicacao = soma_multiplica(2, 3)
print(soma)
print(multiplicacao)

0
6

In [ ]:
#Função com listas
#Função para soma de múltiplos valores
def somar2(valores):
  return sum(valores)

In [ ]:
somar2([1,2,3,4,5,6,7,8,9,10])

55

In [ ]:
# Agora que você já sabe criar funções, crie uma que mostre as estatísticas
# de todas as colunas númericas (float64) de um DataFrame
def estatisticas(dataframe):
  colunas = (dataframe.select_dtypes(include=['float64']))

  for coluna in colunas: 
    print('Coluna:', coluna)
    print('\tMédia mean()', corona[coluna].mean())
    print('\tSoma sum()', corona[coluna].sum())
    print('\tMediana median()', corona[coluna].median())
    print('\tDesvio Padrão std()', corona[coluna].std())
    print('\tMínimo min()', corona[coluna].min())
    print('\tMáximo max()', corona[coluna].max())
    print()

In [ ]:
estatisticas(corona)

Coluna: Confirmed
	Média mean() 15442.70723242275
	Soma sum() 1517276871.0
	Mediana median() 1622.0
	Desvio Padrão std() 46813.31327228468
	Mínimo min() 0.0
	Máximo max() 801422.0

Coluna: Deaths
	Média mean() 692.5023103855392
	Soma sum() 68039737.0
	Mediana median() 31.0
	Desvio Padrão std() 2712.094163680288
	Mínimo min() 0.0
	Máximo max() 42072.0

Coluna: Recovered
	Média mean() 8392.821418393518
	Soma sum() 824611490.0
	Mediana median() 287.0
	Desvio Padrão std() 47512.47468727016
	Mínimo min() 0.0
	Máximo max() 2140614.0

In [ ]:
corona['nova'] = corona['Confirmed'] * 2

In [ ]:
estatisticas(corona)

Coluna: Confirmed
	Média mean() 15442.70723242275
	Soma sum() 1517276871.0
	Mediana median() 1622.0
	Desvio Padrão std() 46813.31327228468
	Mínimo min() 0.0
	Máximo max() 801422.0

Coluna: Deaths
	Média mean() 692.5023103855392
	Soma sum() 68039737.0
	Mediana median() 31.0
	Desvio Padrão std() 2712.094163680288
	Mínimo min() 0.0
	Máximo max() 42072.0

Coluna: Recovered
	Média mean() 8392.821418393518
	Soma sum() 824611490.0
	Mediana median() 287.0
	Desvio Padrão std() 47512.47468727016
	Mínimo min() 0.0
	Máximo max() 2140614.0

Coluna: nova
	Média mean() 30885.4144648455
	Soma sum() 3034553742.0
	Mediana median() 3244.0
	Desvio Padrão std() 93626.62654456936
	Mínimo min() 0.0
	Máximo max() 1602844.0

# Vamos Praticar
Carregar o Dataset (`notas_alunos.csv`) e:
*   Criar uma função para mostrar as informações (inspeções) iniciais
*   Criar uma função para mostrar dados estatísticos como: média, mediana e desvio padrão

In [ ]:
notas = pd.read_csv('http://emsapi.esy.es/datasets/notas_alunos.csv', index_col=0)

In [ ]:
def info(dados):
  print(dados.info())
  print(dados.describe())

def estatisticas(dados):
  colunas = (dados.select_dtypes(include=['float64']))

  for coluna in colunas:
    print('Coluna:', coluna)
    print('\tMédia mean()', dados[coluna].mean())
    print('\tMediana median()', dados[coluna].median())
    print('\tDesvio Padrão std()', dados[coluna].std())
    print()

In [ ]:
info(notas)

<class 'pandas.core.frame.DataFrame'>
Index: 50 entries, Abel Marques to Zeferino Granjeia
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Nota1   50 non-null     float64
 1   Nota2   50 non-null     float64
 2   Nota3   50 non-null     float64
 3   Nota4   50 non-null     float64
 4   Nota5   50 non-null     float64
dtypes: float64(5)
memory usage: 2.3+ KB
None
           Nota1      Nota2      Nota3      Nota4      Nota5
count  50.000000  50.000000  50.000000  50.000000  50.000000
mean    4.737200   5.760000   4.480000   5.520000   5.620000
std     2.992104   3.034227   2.936331   3.382066   3.069867
min     0.000000   0.000000   0.000000   0.000000   0.000000
25%     2.000000   3.000000   2.000000   3.000000   3.000000
50%     5.500000   6.500000   4.500000   5.500000   6.000000
75%     7.000000   8.000000   7.000000   8.000000   8.000000
max     9.080000  10.000000   9.000000  10.000000  10.000000

In [ ]:
estatisticas(notas)

Coluna: Nota1
	Média mean() 4.7372000000000005
	Mediana median() 5.5
	Desvio Padrão std() 2.992103921582776

Coluna: Nota2
	Média mean() 5.76
	Mediana median() 6.5
	Desvio Padrão std() 3.0342265261916253

Coluna: Nota3
	Média mean() 4.48
	Mediana median() 4.5
	Desvio Padrão std() 2.936331183011639

Coluna: Nota4
	Média mean() 5.52
	Mediana median() 5.5
	Desvio Padrão std() 3.3820655444474723

Coluna: Nota5
	Média mean() 5.62
	Mediana median() 6.0
	Desvio Padrão std() 3.0698667125223955

In [ ]:
notas.head()

                    Nota1  Nota2  Nota3  Nota4  Nota5
Nome
Abel Marques         3.78    9.0    2.0    3.0    9.0
Abigail Camillo      8.00    2.0    7.0    2.0    2.0
Adriana Passos       8.00    6.0    1.0    6.0    2.0
Ajuricaba Casquero   6.00    4.0    5.0   10.0   10.0
Aline Beltrán        0.00    2.0    9.0    2.0    3.0

In [ ]:
notas['media'] = (notas['Nota1']+notas['Nota2']+notas['Nota3']+notas['Nota4']+notas['Nota5'])/5

In [ ]:
estatisticas(notas)

Coluna: Nota1
	Média mean() 4.7372000000000005
	Mediana median() 5.5
	Desvio Padrão std() 2.992103921582776

Coluna: Nota2
	Média mean() 5.76
	Mediana median() 6.5
	Desvio Padrão std() 3.0342265261916253

Coluna: Nota3
	Média mean() 4.48
	Mediana median() 4.5
	Desvio Padrão std() 2.936331183011639

Coluna: Nota4
	Média mean() 5.52
	Mediana median() 5.5
	Desvio Padrão std() 3.3820655444474723

Coluna: Nota5
	Média mean() 5.62
	Mediana median() 6.0
	Desvio Padrão std() 3.0698667125223955

Coluna: media
	Média mean() 5.223439999999999
	Mediana median() 5.4
	Desvio Padrão std() 1.219504083885021

In [ ]:
notas.head()

                    Nota1  Nota2  Nota3  Nota4  Nota5  media
Nome
Abel Marques         3.78    9.0    2.0    3.0    9.0  5.356
Abigail Camillo      8.00    2.0    7.0    2.0    2.0  4.200
Adriana Passos       8.00    6.0    1.0    6.0    2.0  4.600
Ajuricaba Casquero   6.00    4.0    5.0   10.0   10.0  7.000
Aline Beltrán        0.00    2.0    9.0    2.0    3.0  3.200

In [ ]:
# Função com retorno de "lista"
def estatisticas_lista(dados):
  colunas = (dados.select_dtypes(include=['float64']))
  resultado = []

  for coluna in colunas: 
    resultado.append(coluna)
    resultado.append(
        [
         round(dados[coluna].mean(),2), 
         round(dados[coluna].median(),2),
         round(dados[coluna].std(),2)
        ]
    )
  return resultado

In [ ]:
result = estatisticas_lista(notas)

In [ ]:
result[1][1]

5.5